 <header class="p-3 mb-3 border-bottom">
      <div class="container">
           <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                     <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                          <use xlink:href="#bootstrap" /></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                     <li><a href="{% url 'main:home' %}" class="nav-link px-2 link-dark">TubeVibe</a></li>
                     {% comment %} {{category}} {% endcomment %}
                     <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                               Category
                          </button>
                          <ul class="dropdown-menu">

                               {% for category in categorys %}
                               <li><a class="dropdown-item" href="#">{{category.title}}</a></li>
                               {% endfor %}


                          </ul>
                     </div>
                </ul>

                <form action="{% url 'main:search' %}" method="GET" class="d-flex">
                     <input class="form-control me-2" type="search" name="keyword" placeholder="Search"
                          aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                </form>



                {% if request.user.is_authenticated %}

                <div class="dropdown ms-2 text-end">
                     <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          {{request.user}}
                     </a>
                     <ul class="dropdown-menu text-small">
                          <li><a class="dropdown-item" href="{% url 'main:update_profile' %}">See profile</a></li>
                          <li><a class="dropdown-item" href="{% url 'main:create_video' %}">Create New Video</a></li>
                          <li><a class="dropdown-item" href="{% url 'main:user_all_video' %}">Your All video</a></li>
                          <li>
                               <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="{% url 'main:logout_page' %}">Sign out</a></li>
                     </ul>
                </div>
                {% else %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                     <li><a href="{% url 'main:register' %}" class="nav-link px-2 link-dark">Register</a></li>
                     <li><a href="{% url 'main:login_page' %}" class="nav-link px-2 link-dark">Login</a></li>
                </ul>
                {% endif %}

           </div>
      </div>
 </header>