{% extends 'base.html' %}

{% block body %}
<div class="container">

     <h1>{{ quiz.title }}</h1>
     <form method="post">
    {% csrf_token %}
    {% for question in questions %}
      <h3>{{ question.quiz_content }}</h3>
      <input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}<br>
      <input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
      <input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
      <input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
</div>
{% endblock %}
