{% extends 'base.html' %}
{% block content %}

<div class="container top  bottom">
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Title</h3>
          {{form.title}}
          <br>
          <h3>Author</h3>
          {{form.author}}
          <br>
          <h3>Body</h3>
          {{form.descriptions}}
          <br>
          <h3>Please upload image</h3>
          {{form.image}}
          <br>
          <input style="margin-top:30px" class="btn btn-success bottom" type="submit" value="Submit">

     </form>
</div>

{% endblock content %}