{% extends "base.html" %}
{% load my_filters %}
{% block content %}
<h3>Musicaian list</h3>

{% if musician_list %}
     <ul>
          {% for musician in  musician_list %}
          <li><a href="{% url 'album_list' artist_id=musician.id %}">{{musician.first_name}} {{musician.last_name}}</a></li>
          {% endfor %}
     </ul>
{% else %}
<h4>No musician</h4>
{% endif %}
     
{% comment %}      

<h1>Add new musician</h1>

{% if heading %}

<h4>{{heading}}</h4>
{% endif %}
<div class="container">
     <a href="">Add musician</a>     
     <table border ="1">
          <tr>
               <th>First name</th>
               <th>Last name</th>
               <th>Instrument</th>
          </tr>
          {% for row in musician_list %}
          <tr>
               <td>{{row.first_name}}</td>
               <td>{{row.last_name}}</td>
               <td>{{row.instrument}}</td>
          </tr>
     {% endfor %}
</table>
</div>

{% comment %} <h3>{{text|custom_filter}}</h3> {% endcomment %}
{% comment %} <h3>{{text|custom_filter:"New addition"}}</h3> {% endcomment %}

{% endblock content %}